

<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Extract Data">

<div class="binance-data-container">
    <h1>Binance OHLCV Data</h1>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="symbol">Symbol:</label>
        <input type="text" id="symbol" [(ngModel)]="symbol" name="symbol" class="form-control" />
      </div>
      <div class="form-group">
        <label for="interval">Interval:</label>
        <input type="text" id="interval" [(ngModel)]="interval" name="interval" class="form-control" />
      </div>
      <div class="form-group">
        <label for="limit">Limit:</label>
        <input type="number" id="limit" [(ngModel)]="limit" name="limit" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Fetch Data</button>
    </form>
  
    <div class="epoch-times">
      <p>Current Epoch Time: {{ currentEpochTime }}</p>
      <p>Latest Record Epoch Time: {{ latestRecordEpochTime }}</p>
    </div>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Open</th>
          <th>High</th>
          <th>Low</th>
          <th>Close</th>
          <th>Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ohlcvData">
          <td>{{ data.time }}</td>
          <td>{{ data.open }}</td>
          <td>{{ data.high }}</td>
          <td>{{ data.low }}</td>
          <td>{{ data.close }}</td>
          <td>{{ data.volume }}</td>
        </tr>
      </tbody>
    </table>
  </div>


</app-card>
</div>
</div>