<div class="card">
    <div class="card-header">
      <h5>Test Model</h5>
    </div>
    <div class="card-body">
      <!-- Classification Report -->
      <div class="classification-report">
        <h6>Classification Report</h6>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Label</th>
              <th>Precision</th>
              <th>Recall</th>
              <th>F1-Score</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let label of objectKeys(testModelResult.model_metrics.classification_report)">
              <td>{{ label }}</td>
              <td>{{ testModelResult.model_metrics.classification_report[label].precision }}</td>
              <td>{{ testModelResult.model_metrics.classification_report[label].recall }}</td>
              <td>{{ testModelResult.model_metrics.classification_report[label]['f1-score'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Heatmap Chart -->
      <apx-chart
        *ngIf="heatmapChartOptions"
        [series]="heatmapSeries"
        [chart]="heatmapChartOptions.chart"
        [xaxis]="heatmapChartOptions.xaxis"
        [yaxis]="heatmapChartOptions.yaxis"
        [dataLabels]="heatmapChartOptions.dataLabels"
        [colors]="heatmapChartOptions.colors"
      ></apx-chart>
    </div>
  </div>
  